{
  "work_authorization_us": "",
  "sponsorship_required": "",
  "citizenship_status": "",
  "full_name": "",
  "first_name": "",
  "last_name": "",
  "email": "",
  "phone": "",
  "address": "",
  "city": "",
  "state": "",
  "zip": "",
  "country": "",
  "github": "",
  "linkedin": "",
  "portfolio": "",
  "years_of_experience": "",
  "salary_expectation": "",
  "desired_salary_numeric": "",
  "willing_to_relocate": "",
  "preferred_locations": [],
  "available_start_date": "",
  "willingness_to_travel": "",
  "willingness_to_work_weekends": "",
  "degree": "",
  "major": "",
  "minor_or_concentration": "",
  "school": "",
  "university_city": "",
  "university_state": "",
  "gpa": "",
  "expected_graduation_month": "",
  "expected_graduation_year": "",
  "high_school_name": "",
  "high_school_city_state": "",
  "high_school_graduation_year": "",
  "technical_skills": "",
  "employment_history": [],
  "pronouns": "",
  "ethnicity": "",
  "race": "",
  "asian_ethnicity": "",
  "hispanic_or_latino": "",
  "gender": "",
  "veteran_status": "",
  "disability_status": "",
  "how_did_you_hear": "",
  "background_check_consent": "",
  "drug_screening_consent": "",
  "age_verification": "",
  "cover_letter_body": "",
  "why_do_you_want_to_work_here": "",
  "target_seniority": "",
  "preferred_work_modes": "",
  "job_search_location": "",
  "job_search_keywords": "",
  "job_search_tracks": "",
  "graduation_date": "",
  "preferred_name": "",
  "preferred_contribution_areas": "",
  "proud_project": "",
  "proud_project_response": "",
  "us_person_status_lawful_permanent_resident": "",
  "us_citizen_or_national": "",
  "refugee_status": "",
  "asylee_status": "",
  "daca_work_authorization": "",
  "us_export_control_citizen_or_national": "",
  "us_export_control_lawful_permanent_resident": "",
  "us_export_control_refugee": "",
  "us_export_control_asylee": "",
  "us_export_control_daca": "",
  "native_hawaiian_or_other_pacific_islander": "",
  "willing_to_work_in_person_five_days": "",
  "account_creation_consent": "",
  "county": "",
  "previously_employed_by_company": ""
}
